<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.cake.master.core.mapper.OrderOutLimitMapper">


    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id,a.order_no,a.channel_id,a.channel_name,a.bank_card,a.bank_name,a.account_name,a.bank_subbranch,
        a.province,a.city,
        a.remark,a.use_status,
        a.create_time,a.update_time,a.yn
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <if test="orderNo != null and orderNo != '' " >
                and a.order_no = #{orderNo}
            </if>
            <if test="channelId != null and channelId != '' " >
                and a.channel_id = #{channelId}
            </if>
            <if test="channelName != null and channelName != '' " >
                and a.channel_name = #{channelName}
            </if>
            <if test="bankCard != null and bankCard != '' " >
                and a.bank_card = #{bankCard}
            </if>
            <if test="bankName != null and bankName != '' " >
                and a.bank_name = #{bankName}
            </if>
            <if test="accountName != null and accountName != '' " >
                and a.account_name = #{accountName}
            </if>
            <if test="useStatus != null and useStatus != '' " >
                and a.use_status = #{useStatus}
            </if>
            and a.yn = 0
        </trim>
    </sql>


    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 排序条件 -->
    <sql id="Example_Order_By">
        order by a.create_time desc
    </sql>


    <!-- 显示所有数据 -->
    <select id="findAll" resultType="com.hz.cake.master.core.model.order.OrderOutLimitModel">
        select
        <include refid="Base_Column_List" />
        from tb_fr_order_out_limit a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询列表 -->
    <select id="findByCondition" parameterType="Object" resultType="com.hz.cake.master.core.model.order.OrderOutLimitModel">
        select
        <include refid="Base_Column_List" />
        from tb_fr_order_out_limit a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 根据条件查询信息-->
    <select id="findByObject" parameterType="Object" resultType="com.hz.cake.master.core.model.order.OrderOutLimitModel">
        select
        <include refid="Base_Column_List" />
        from tb_fr_order_out_limit a
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 根据id查询信息-->
    <select id="findById" parameterType="java.lang.Long" resultType="com.hz.cake.master.core.model.order.OrderOutLimitModel">
        select
        <include refid="Base_Column_List" />
        from tb_fr_order_out_limit a
        <include refid="Example_Where_Clause_id"/>
    </select>


    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_fr_order_out_limit a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" parameterType="Object" resultType="com.hz.cake.master.core.model.order.OrderOutLimitModel">
        select
        <include refid="Base_Column_List" />
        from tb_fr_order_out_limit a
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
        <if test="pageNumber != null and pageNumber != ''" >
            limit #{start},#{end}
        </if>
    </select>


    <!-- 添加基本信息 -->
    <insert id="add" parameterType="com.hz.cake.master.core.model.order.OrderOutLimitModel" >
        <!--<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">-->
        <!--SELECT LAST_INSERT_ID() as id-->
        <!--</selectKey>-->
        insert into tb_fr_order_out_limit
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="orderNo != null and orderNo != '' " >
                order_no,
            </if>
            <if test="channelId != null and channelId != '' " >
                channel_id,
            </if>
            <if test="channelName != null and channelName != '' " >
                channel_name,
            </if>
            <if test="bankCard != null and bankCard != '' " >
                bank_card,
            </if>
            <if test="bankName != null and bankName != '' " >
                bank_name,
            </if>
            <if test="accountName != null and accountName != '' " >
                account_name,
            </if>
            <if test="bankSubbranch != null and bankSubbranch != '' " >
                bank_subbranch,
            </if>
            <if test="province != null and province != '' " >
                province,
            </if>
            <if test="city != null and city != '' " >
                city,
            </if>
            <if test="remark != null and remark != '' " >
                remark,
            </if>
            <if test="useStatus != null and useStatus != '' " >
                use_status,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="orderNo != null and orderNo != '' " >
                <![CDATA[  #{orderNo}, ]]>
            </if>
            <if test="channelId != null and channelId != '' " >
                <![CDATA[  #{channelId}, ]]>
            </if>
            <if test="channelName != null and channelName != '' " >
                <![CDATA[  #{channelName}, ]]>
            </if>
            <if test="bankCard != null and bankCard != '' " >
                <![CDATA[  #{bankCard}, ]]>
            </if>
            <if test="bankName != null and bankName != '' " >
                <![CDATA[  #{bankName}, ]]>
            </if>
            <if test="accountName != null and accountName != '' " >
                <![CDATA[  #{accountName}, ]]>
            </if>
            <if test="bankSubbranch != null and bankSubbranch != '' " >
                <![CDATA[  #{bankSubbranch}, ]]>
            </if>
            <if test="province != null and province != '' " >
                <![CDATA[  #{province}, ]]>
            </if>
            <if test="city != null and city != '' " >
                <![CDATA[  #{city}, ]]>
            </if>
            <if test="remark != null and remark != '' " >
                <![CDATA[  #{remark}, ]]>
            </if>
            <if test="useStatus != null and useStatus != '' " >
                <![CDATA[  #{useStatus}, ]]>
            </if>
            NOW(),
        </trim>
    </insert>

    <!-- 更新基本信息 -->
    <update id="update" parameterType="com.hz.cake.master.core.model.order.OrderOutLimitModel">
        UPDATE tb_fr_order_out_limit a
        <trim prefix="set" suffixOverrides=",">
            <if test="orderNo != null and orderNo != '' " >
                a.order_no = #{orderNo},
            </if>
            <if test="channelId != null and channelId != '' " >
                a.channel_id = #{channelId},
            </if>
            <if test="channelName != null and channelName != '' " >
                a.channel_name = #{channelName},
            </if>
            <if test="bankCard != null and bankCard != '' " >
                a.bank_card = #{bankCard},
            </if>
            <if test="bankName != null and bankName != '' " >
                a.bank_name = #{bankName},
            </if>
            <if test="accountName != null and accountName != '' " >
                a.account_name = #{accountName},
            </if>
            <if test="bankSubbranch != null and bankSubbranch != '' " >
                a.bank_subbranch = #{bankSubbranch},
            </if>
            <if test="province != null and province != '' " >
                a.province = #{province},
            </if>
            <if test="city != null and city != '' " >
                a.city = #{city},
            </if>
            <if test="remark != null and remark != '' " >
                a.remark = #{remark},
            </if>
            <if test="useStatus != null and useStatus != '' " >
                a.use_status = #{useStatus},
            </if>
            a.update_time = NOW(),
        </trim>
        where 1=1
        and a.id = #{id}
        and a.yn = 0
    </update>

    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_fr_order_out_limit a
        <trim prefix="set" suffixOverrides=",">
            <if test="yn != 0 and yn >0 " >
                a.yn = #{yn},
            </if>
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>

    <!-- 更新卡商的使用状态 -->
    <update id="updateUseStatus" parameterType="Object">
        update tb_fr_order_out_limit a
        <trim prefix="set" suffixOverrides=",">
            <if test="useStatus != null and useStatus != '' " >
                a.use_status = #{useStatus},
            </if>
        </trim>
        where 1=1
        <include refid="Example_Where_Clause_id"/>
    </update>


</mapper>