<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.cake.master.core.mapper.OrderOutMapper">


    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id,a.alias,a.order_no,a.order_money,a.out_trade_no,a.order_status,a.order_type,a.service_charge,a.handle_type,a.out_status,a.invalid_time,a.in_bank_card,
        a.in_bank_name,a.in_account_name,a.in_bank_subbranch,a.in_bank_province,a.in_bank_city,
        a.out_bank_name,a.out_bank_card,a.out_account_name,a.merchant_id,a.merchant_name,a.merchant_site_id,a.merchant_site_name,
        a.channel_id,a.channel_name,a.replace_pay_id,a.replace_pay_name,a.resource_type,a.supplier_trade_no,a.trade_time,a.supplier_service_charge,a.picture_ads,a.check_status,a.check_info,a.notify_url,a.operate_status,
        a.is_excel,a.work_type,a.data_explain,
        a.remark,a.curday,a.curhour,a.curminute,a.run_num,a.run_status,a.send_num,a.send_status,
        a.create_user_id,a.create_role_id,a.update_user_id,a.update_role_id,
        a.create_time,a.update_time,a.yn
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <if test="orderNo != null and orderNo != '' " >
                and a.order_no = #{orderNo}
            </if>
            <if test="outTradeNo != null and outTradeNo != '' " >
                and a.out_trade_no = #{outTradeNo}
            </if>
            <if test="orderStatus != null and orderStatus != '' " >
                and a.order_status = #{orderStatus}
            </if>
            <if test="orderType != null and orderType != '' " >
                and a.order_type = #{orderType}
            </if>
            <if test="handleType != null and handleType != '' " >
                and a.handle_type = #{handleType}
            </if>
            <if test="outStatus != null and outStatus != '' " >
                and a.out_status = #{outStatus}
            </if>
            <if test="replacePayId != null and replacePayId != '' " >
                and a.replace_pay_id = #{replacePayId}
            </if>
            <if test="resourceType != null and resourceType != '' " >
                and a.resource_type = #{resourceType}
            </if>
            <if test="supplierTradeNo != null and supplierTradeNo != '' " >
                and a.supplier_trade_no = #{supplierTradeNo}
            </if>
            <if test="invalidTimeStart != null and invalidTimeStart != '' " >
                and a.invalid_time > now()
            </if>
            <if test="invalidTimeEnd != null and invalidTimeEnd != '' " >
                and a.invalid_time &lt;= now()
            </if>
            <if test="merchantId != null and merchantId != '' " >
                and a.merchant_id = #{merchantId}
            </if>
            <if test="merchantSiteId != null and merchantSiteId != '' " >
                and a.merchant_site_id = #{merchantSiteId}
            </if>
            <if test="channelId != null and channelId != '' " >
                and a.channel_id = #{channelId}
            </if>
            <if test="checkStatus != null and checkStatus != '' " >
                and a.check_status = #{checkStatus}
            </if>
            <if test="operateStatus != null and operateStatus != '' " >
                and a.operate_status = #{operateStatus}
            </if>
            <if test="isExcel != null and isExcel != '' " >
                and a.is_excel = #{isExcel}
            </if>
            <if test="workType != null and workType != '' " >
                and a.work_type = #{workType}
            </if>
            and a.yn = 0
        </trim>
    </sql>


    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 排序条件 -->
    <sql id="Example_Order_By">
        order by a.create_time desc
    </sql>


    <!-- 显示所有数据 -->
    <select id="findAll" resultType="com.hz.cake.master.core.model.order.OrderOutModel">
        select
        <include refid="Base_Column_List" />
        from tb_fr_order_out a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询列表 -->
    <select id="findByCondition" parameterType="Object" resultType="com.hz.cake.master.core.model.order.OrderOutModel">
        select
        <include refid="Base_Column_List" />
        from tb_fr_order_out a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 根据条件查询信息-->
    <select id="findByObject" parameterType="Object" resultType="com.hz.cake.master.core.model.order.OrderOutModel">
        select
        <include refid="Base_Column_List" />
        from tb_fr_order_out a
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 根据id查询信息-->
    <select id="findById" parameterType="java.lang.Long" resultType="com.hz.cake.master.core.model.order.OrderOutModel">
        select
        <include refid="Base_Column_List" />
        from tb_fr_order_out a
        <include refid="Example_Where_Clause_id"/>
    </select>


    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_fr_order_out a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" parameterType="Object" resultType="com.hz.cake.master.core.model.order.OrderOutModel">
        select
        <include refid="Base_Column_List" />
        from tb_fr_order_out a
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
        <if test="pageNumber != null and pageNumber != ''" >
            limit #{start},#{end}
        </if>
    </select>


    <!-- 添加基本信息 -->
    <insert id="add" parameterType="com.hz.cake.master.core.model.order.OrderOutModel" >
        <!--<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">-->
        <!--SELECT LAST_INSERT_ID() as id-->
        <!--</selectKey>-->
        insert into tb_fr_order_out
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="alias != null and alias != '' " >
                alias,
            </if>
            <if test="orderNo != null and orderNo != '' " >
                order_no,
            </if>
            <if test="orderMoney != null and orderMoney != '' " >
                order_money,
            </if>
            <if test="outTradeNo != null and outTradeNo != '' " >
                out_trade_no,
            </if>
            <if test="orderStatus != null and orderStatus != '' " >
                order_status,
            </if>
            <if test="orderType != null and orderType != '' " >
                order_type,
            </if>
            <if test="serviceCharge != null and serviceCharge != '' " >
                service_charge,
            </if>
            <if test="handleType != null and handleType != '' " >
                handle_type,
            </if>
            <if test="outStatus != null and outStatus != '' " >
                out_status,
            </if>
            <if test="invalidTime != null and invalidTime != '' " >
                invalid_time,
            </if>
            <if test="inBankCard != null and inBankCard != '' " >
                in_bank_card,
            </if>
            <if test="inBankName != null and inBankName != '' " >
                in_bank_name,
            </if>
            <if test="inAccountName != null and inAccountName != '' " >
                in_account_name,
            </if>
            <if test="inBankSubbranch != null and inBankSubbranch != '' " >
                in_bank_subbranch,
            </if>
            <if test="inBankProvince != null and inBankProvince != '' " >
                in_bank_province,
            </if>
            <if test="inBankCity != null and inBankCity != '' " >
                in_bank_city,
            </if>
            <if test="outBankName != null and outBankName != '' " >
                out_bank_name,
            </if>
            <if test="outBankCard != null and outBankCard != '' " >
                out_bank_card,
            </if>
            <if test="outAccountName != null and outAccountName != '' " >
                out_account_name,
            </if>
            <if test="merchantId != null and merchantId != '' " >
                merchant_id,
            </if>
            <if test="merchantName != null and merchantName != '' " >
                merchant_name,
            </if>
            <if test="merchantSiteId != null and merchantSiteId != '' " >
                merchant_site_id,
            </if>
            <if test="merchantSiteName != null and merchantSiteName != '' " >
                merchant_site_name,
            </if>
            <if test="channelId != null and channelId != '' " >
                channel_id,
            </if>
            <if test="channelName != null and channelName != '' " >
                channel_name,
            </if>
            <if test="replacePayId != null and replacePayId != '' " >
                replace_pay_id,
            </if>
            <if test="replacePayName != null and replacePayName != '' " >
                replace_pay_name,
            </if>
            <if test="resourceType != null and resourceType != '' " >
                resource_type,
            </if>
            <if test="supplierTradeNo != null and supplierTradeNo != '' " >
                supplier_trade_no,
            </if>
            <if test="tradeTime != null and tradeTime != '' " >
                trade_time,
            </if>
            <if test="supplierServiceCharge != null and supplierServiceCharge != '' " >
                supplier_service_charge,
            </if>
            <if test="pictureAds != null and pictureAds != '' " >
                picture_ads,
            </if>
            <if test="failInfo != null and failInfo != '' " >
                fail_info,
            </if>
            <if test="checkStatus != null and checkStatus != '' " >
                check_status,
            </if>
            <if test="checkInfo != null and checkInfo != '' " >
                check_info,
            </if>
            <if test="notifyUrl != null and notifyUrl != '' " >
                notify_url,
            </if>
            <if test="operateStatus != null and operateStatus != '' " >
                operate_status,
            </if>
            <if test="isExcel != null and isExcel != '' " >
                is_excel,
            </if>
            <if test="workType != null and workType != '' " >
                work_type,
            </if>
            <if test="dataExplain != null and dataExplain != '' " >
                data_explain,
            </if>
            <if test="remark != null and remark != '' " >
                remark,
            </if>
            <if test="curday != null and curday != '' " >
                curday,
            </if>
            <if test="curhour != null and curhour != '' " >
                curhour,
            </if>
            <if test="curminute != null and curminute != '' " >
                curminute,
            </if>
            <if test="createUserId != null and createUserId != '' " >
                create_user_id,
            </if>
            <if test="createRoleId != null and createRoleId != '' " >
                create_role_id,
            </if>
            <if test="updateUserId != null and updateUserId != '' " >
                update_user_id,
            </if>
            <if test="updateRoleId != null and updateRoleId != '' " >
                update_role_id,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="alias != null and alias != '' " >
                <![CDATA[  #{alias}, ]]>
            </if>
            <if test="orderNo != null and orderNo != '' " >
                <![CDATA[  #{orderNo}, ]]>
            </if>
            <if test="orderMoney != null and orderMoney != '' " >
                <![CDATA[  #{orderMoney}, ]]>
            </if>
            <if test="outTradeNo != null and outTradeNo != '' " >
                <![CDATA[  #{outTradeNo}, ]]>
            </if>
            <if test="orderStatus != null and orderStatus != '' " >
                <![CDATA[  #{orderStatus}, ]]>
            </if>
            <if test="orderType != null and orderType != '' " >
                <![CDATA[  #{orderType}, ]]>
            </if>
            <if test="serviceCharge != null and serviceCharge != '' " >
                <![CDATA[  #{serviceCharge}, ]]>
            </if>
            <if test="handleType != null and handleType != '' " >
                <![CDATA[  #{handleType}, ]]>
            </if>
            <if test="outStatus != null and outStatus != '' " >
                <![CDATA[  #{outStatus}, ]]>
            </if>
            <if test="invalidTime != null and invalidTime != '' " >
                <![CDATA[  #{invalidTime}, ]]>
            </if>
            <if test="inBankCard != null and inBankCard != '' " >
                <![CDATA[  #{inBankCard}, ]]>
            </if>
            <if test="inBankName != null and inBankName != '' " >
                <![CDATA[  #{inBankName}, ]]>
            </if>
            <if test="inAccountName != null and inAccountName != '' " >
                <![CDATA[  #{inAccountName}, ]]>
            </if>
            <if test="inBankSubbranch != null and inBankSubbranch != '' " >
                <![CDATA[  #{inBankSubbranch}, ]]>
            </if>
            <if test="inBankProvince != null and inBankProvince != '' " >
                <![CDATA[  #{inBankProvince}, ]]>
            </if>
            <if test="inBankCity != null and inBankCity != '' " >
                <![CDATA[  #{inBankCity}, ]]>
            </if>
            <if test="outBankName != null and outBankName != '' " >
                <![CDATA[  #{outBankName}, ]]>
            </if>
            <if test="outBankCard != null and outBankCard != '' " >
                <![CDATA[  #{outBankCard}, ]]>
            </if>
            <if test="outAccountName != null and outAccountName != '' " >
                <![CDATA[  #{outAccountName}, ]]>
            </if>
            <if test="merchantId != null and merchantId != '' " >
                <![CDATA[  #{merchantId}, ]]>
            </if>
            <if test="merchantName != null and merchantName != '' " >
                <![CDATA[  #{merchantName}, ]]>
            </if>
            <if test="merchantSiteId != null and merchantSiteId != '' " >
                <![CDATA[  #{merchantSiteId}, ]]>
            </if>
            <if test="merchantSiteName != null and merchantSiteName != '' " >
                <![CDATA[  #{merchantSiteName}, ]]>
            </if>
            <if test="channelId != null and channelId != '' " >
                <![CDATA[  #{channelId}, ]]>
            </if>
            <if test="channelName != null and channelName != '' " >
                <![CDATA[  #{channelName}, ]]>
            </if>
            <if test="replacePayId != null and replacePayId != '' " >
                <![CDATA[  #{replacePayId}, ]]>
            </if>
            <if test="replacePayName != null and replacePayName != '' " >
                <![CDATA[  #{replacePayName}, ]]>
            </if>
            <if test="resourceType != null and resourceType != '' " >
                <![CDATA[  #{resourceType}, ]]>
            </if>
            <if test="supplierTradeNo != null and supplierTradeNo != '' " >
                <![CDATA[  #{supplierTradeNo}, ]]>
            </if>
            <if test="tradeTime != null and tradeTime != '' " >
                <![CDATA[  #{tradeTime}, ]]>
            </if>
            <if test="supplierServiceCharge != null and supplierServiceCharge != '' " >
                <![CDATA[  #{supplierServiceCharge}, ]]>
            </if>
            <if test="pictureAds != null and pictureAds != '' " >
                <![CDATA[  #{pictureAds}, ]]>
            </if>
            <if test="failInfo != null and failInfo != '' " >
                <![CDATA[  #{failInfo}, ]]>
            </if>
            <if test="checkStatus != null and checkStatus != '' " >
                <![CDATA[  #{checkStatus}, ]]>
            </if>
            <if test="checkInfo != null and checkInfo != '' " >
                <![CDATA[  #{checkInfo}, ]]>
            </if>
            <if test="notifyUrl != null and notifyUrl != '' " >
                <![CDATA[  #{notifyUrl}, ]]>
            </if>
            <if test="operateStatus != null and operateStatus != '' " >
                <![CDATA[  #{operateStatus}, ]]>
            </if>
            <if test="isExcel != null and isExcel != '' " >
                <![CDATA[  #{isExcel}, ]]>
            </if>
            <if test="workType != null and workType != '' " >
                <![CDATA[  #{workType}, ]]>
            </if>
            <if test="dataExplain != null and dataExplain != '' " >
                <![CDATA[  #{dataExplain}, ]]>
            </if>
            <if test="remark != null and remark != '' " >
                <![CDATA[  #{remark}, ]]>
            </if>
            <if test="curday != null and curday != '' " >
                <![CDATA[  #{curday}, ]]>
            </if>
            <if test="curhour != null and curhour != '' " >
                <![CDATA[  #{curhour}, ]]>
            </if>
            <if test="curminute != null and curminute != '' " >
                <![CDATA[  #{curminute}, ]]>
            </if>
            <if test="createUserId != null and createUserId != '' " >
                <![CDATA[  #{createUserId}, ]]>
            </if>
            <if test="createRoleId != null and createRoleId != '' " >
                <![CDATA[  #{createRoleId}, ]]>
            </if>
            <if test="updateUserId != null and updateUserId != '' " >
                <![CDATA[  #{updateUserId}, ]]>
            </if>
            <if test="updateRoleId != null and updateRoleId != '' " >
                <![CDATA[  #{updateRoleId}, ]]>
            </if>
            NOW(),
        </trim>
    </insert>

    <!-- 更新基本信息 -->
    <update id="update" parameterType="com.hz.cake.master.core.model.order.OrderOutModel">
        UPDATE tb_fr_order_out a
        <trim prefix="set" suffixOverrides=",">
            <if test="alias != null and alias != '' " >
                a.alias = #{alias},
            </if>
            <if test="orderNo != null and orderNo != '' " >
                a.order_no = #{orderNo},
            </if>
            <if test="orderMoney != null and orderMoney != '' " >
                a.order_money = #{orderMoney},
            </if>
            <if test="outTradeNo != null and outTradeNo != '' " >
                a.out_trade_no = #{outTradeNo},
            </if>
            <if test="orderStatus != null and orderStatus != '' " >
                a.order_status = #{orderStatus},
            </if>
            <if test="orderType != null and orderType != '' " >
                a.order_type = #{orderType},
            </if>
            <if test="serviceCharge != null and serviceCharge != '' " >
                a.service_charge = #{serviceCharge},
            </if>
            <if test="handleType != null and handleType != '' " >
                a.handle_type = #{handleType},
            </if>
            <if test="outStatus != null and outStatus != '' " >
                a.out_status = #{outStatus},
            </if>
            <if test="invalidTime != null and invalidTime != '' " >
                a.invalid_time = #{invalidTime},
            </if>
            <if test="inBankCard != null and inBankCard != '' " >
                a.in_bank_card = #{inBankCard},
            </if>
            <if test="inBankName != null and inBankName != '' " >
                a.in_bank_name = #{inBankName},
            </if>
            <if test="inAccountName != null and inAccountName != '' " >
                a.in_account_name = #{inAccountName},
            </if>
            <if test="inBankSubbranch != null and inBankSubbranch != '' " >
                a.in_bank_subbranch = #{inBankSubbranch},
            </if>
            <if test="inBankProvince != null and inBankProvince != '' " >
                a.in_bank_province = #{inBankProvince},
            </if>
            <if test="inBankCity != null and inBankCity != '' " >
                a.in_bank_city = #{inBankCity},
            </if>
            <if test="outBankName != null and outBankName != '' " >
                a.out_bank_name = #{outBankName},
            </if>
            <if test="outBankCard != null and outBankCard != '' " >
                a.out_bank_card = #{outBankCard},
            </if>
            <if test="outAccountName != null and outAccountName != '' " >
                a.out_account_name = #{outAccountName},
            </if>
            <if test="merchantId != null and merchantId != '' " >
                a.merchant_id = #{merchantId},
            </if>
            <if test="merchantName != null and merchantName != '' " >
                a.merchant_name = #{merchantName},
            </if>
            <if test="merchantSiteId != null and merchantSiteId != '' " >
                a.merchant_site_id = #{merchantSiteId},
            </if>
            <if test="merchantSiteName != null and merchantSiteName != '' " >
                a.merchant_site_name = #{merchantSiteName},
            </if>
            <if test="channelId != null and channelId != '' " >
                a.channel_id = #{channelId},
            </if>
            <if test="channelName != null and channelName != '' " >
                a.channel_name = #{channelName},
            </if>
            <if test="replacePayId != null and replacePayId != '' " >
                a.replace_pay_id = #{replacePayId},
            </if>
            <if test="replacePayName != null and replacePayName != '' " >
                a.replace_pay_name = #{replacePayName},
            </if>
            <if test="resourceType != null and resourceType != '' " >
                a.resource_type = #{resourceType},
            </if>
            <if test="supplierTradeNo != null and supplierTradeNo != '' " >
                a.supplier_trade_no = #{supplierTradeNo},
            </if>
            <if test="tradeTime != null and tradeTime != '' " >
                a.trade_time = #{tradeTime},
            </if>
            <if test="supplierServiceCharge != null and supplierServiceCharge != '' " >
                a.supplier_service_charge = #{supplierServiceCharge},
            </if>
            <if test="pictureAds != null and pictureAds != '' " >
                a.picture_ads = #{pictureAds},
            </if>
            <if test="pictureAds != null and pictureAds != '' " >
                a.picture_ads = #{pictureAds},
            </if>
            <if test="failInfo != null and failInfo != '' " >
                a.fail_info = #{failInfo},
            </if>
            <if test="checkStatus != null and checkStatus != '' " >
                a.check_status = #{checkStatus},
            </if>
            <if test="checkInfo != null and checkInfo != '' " >
                a.check_info = #{checkInfo},
            </if>
            <if test="notifyUrl != null and notifyUrl != '' " >
                a.notify_url = #{notifyUrl},
            </if>
            <if test="operateStatus != null and operateStatus != '' " >
                a.operate_status = #{operateStatus},
            </if>
            <if test="isExcel != null and isExcel != '' " >
                a.is_excel = #{isExcel},
            </if>
            <if test="workType != null and workType != '' " >
                a.work_type = #{workType},
            </if>
            <if test="dataExplain != null and dataExplain != '' " >
                a.data_explain = #{dataExplain},
            </if>
            <if test="remark != null and remark != '' " >
                a.remark = #{remark},
            </if>
            a.update_time = NOW(),
        </trim>
        where 1=1
        and a.id = #{id}
        and a.yn = 0
    </update>

    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_fr_order_out a
        <trim prefix="set" suffixOverrides=",">
            <if test="yn != 0 and yn >0 " >
                a.yn = #{yn},
            </if>
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>

    <!-- 更新卡商的使用状态 -->
    <update id="updateUseStatus" parameterType="Object">
        update tb_fr_order_out a
        <trim prefix="set" suffixOverrides=",">
            <if test="useStatus != null and useStatus != '' " >
                a.use_status = #{useStatus},
            </if>
        </trim>
        where 1=1
        <include refid="Example_Where_Clause_id"/>
    </update>


</mapper>